@{
    Layout="Shared/_Layout.cshtml";
}
<div class="col l6 valign">
  <div class="card-panel hoverable card">
    @Html.Partial("bands.cshtml", Model)
  </div>
</div>
<div class="col l6 valign">
  <div class="card-panel hoverable card">
    @Html.Partial("venues.cshtml", Model)
  </div>
</div>
