@{
    Layout="Shared/_Layout.cshtml";
}

<div class="col l6 push-l6 valign">
  <div class="card-panel hoverable">
    <p>Enter new name for @Model["venue"].GetName()</p>
    <form action="/venue/@Model["venue"].GetId()/update" method="post">
      <input type="hidden" name="_method" value="PATCH">
      <input type="text" name="new-venue-name" placeholder ="@Model["venue"].GetName()">
      <button type="submit" class="btn waves-effect waves-light">Update</button>
    </form>
    <br>
    <a href="/">Back to Home</a>
  </div>
</div>
<div class="col l6 pull-l6 valign">
  <div class="card-panel hoverable card">
    @Html.Partial("bands.cshtml", Model)
  </div>
</div>
