@if (@Model["venues"].Count == 0)
{
  <p>You have not added venues yet.</p>
}
else
{
  <ul>
    @foreach(var venue in @Model["venues"])
    {
      <li><a href="/venue/@venue.GetId()">@venue.GetName()</a> <a href="/venue/@venue.GetId()/delete">Delete</a> <a href="/venue/@venue.GetId()/update">Update</a></li>
    }
  </ul>
}

<p>Add a new venue</p>
<form action="/venue/new" method="post">
  <label for="venue-name">Enter Venue Name</label>
  <input type="text" name="venue-name">
  <button type="submit">Add</button>
</form>
